extends layout

block title
  title 积木盒子 jimubox.com - 真诚透明的互联网金融

block metaData
  meta(charset= 'utf-8')
  meta(name='keywords', content='民生托管, 投资理财, 互联网金融, 网络投融资平台, 网络理财, 互联网理财, 固定收益, 100% 本息保障, 积木盒子, touch.jimubox.com, wap, touch')
  meta(name='description', content='积木盒子 jimubox.com 供安全、精准、高效的网络投融资服务。积木盒子有严格的风险控制,大型机构100%本息担保,第三方资金托管,保障资金安全。')
  meta(name='author', content='北京乐融多源信息技术有限公司')
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
  meta(name='format-detection', content='telephone=no,address=no,email=no')
  meta(name='mobileOptimized', content='width')
  meta(name='handheldFriendly', content='true')
  meta(name='apple-mobile-web-app-capable', content='yes')

block css
  link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')

block content
  img(src='./images/1.png')
  img(src='./images/2.png')
  img(src='./images/3.png')
  img(src='./images/4.png')
  img(src='./images/5.png')
  img(src='./images/6.png')
  img(src='./images/7.png')
  .link-wrap
    a(href='http://m.jimubox.com/activity/spring/app?__inline')
      img#replay-btn(src='./images/button.png')
    p.first 拒绝做理财小白！
    p 注册就送10-1000元现金礼包哦！
  script(src='./javascripts/settings.js')
  script(src='./javascripts/init.js')
